@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0 ;
  font-family: 'Roboto', sans-serif;
  overflow:visible;
  background-color: #001E3C;
  color: #FFFF;
}

.sticky {
  background-color: #E4650E;
  position: sticky;
  top: 0;
  padding: 1rem;
}
.remove-bottom {
  padding-bottom: 0;
}

.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  background-color  :#E4650E;
  height: 3rem;
  width: 3rem;
  border:none
}

.active {
  background-color: #ec8800;
  border-radius: 10%;
}

img {
  height: 1.5rem;
  width: 1.5rem;
}

.options-wrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-to-section {
  text-decoration: none;
  width: 100%;
  padding: 1rem;
  margin: none;
  border: 1px solid black;
}

.link-to-section:last-child {
  border-top: 0px;
  
}

.link-to-section:first-child{
  border-bottom: 0px;
}
