.presentation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.slide-carousel {
    z-index: -1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.slide-img {
    height: 15rem;
}

.download-btn {
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffa424;
    border-radius: 5%;
    height: 1rem;
    padding: 1.5rem;
    width: 6rem;
    margin: 5% 0;
    border: 1px solid #ffa424;
    background-color: #789dca;
}


@media screen and (min-width: 768px) {
    .slide-img {
        height: 100%;
    }

    .slide-carousel {
        width: 50%;
    }

    .download-btn {
        margin: 3% 0;
    }

    .download-btn:hover {
        color: #789dca;
        background-color: #ffa424;
        transition: 300ms;
    }

    .download-btn:active {
        background-color: #ffa424;
        transition: 300ms;
    }
}