.presentation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.slide-carousel {
    padding-left: 1rem;
    padding-right: 1rem;
}

.slide-img {
    height: 15rem;
}

.download-btn {
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 30%;
    height: 2rem;
    width: 6rem;
    margin: 5% 0;
    border: none;
    background-color: aqua;
}
.download-btn:active {
    background-color: aquamarine;
}