.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.text {
    font-size: 1.2rem;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}

ul {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px){
    .text-wrapper {
        display: flex;
        flex-direction:column;
        align-items:flex-start;
    }
    ul {
        margin-left: 3.5%;
    }
    .home-wrapper {
        margin-bottom: 3%;
    }
}