.form-wrapper {
    margin-top: 5%; 
    margin-bottom: 5%;
}
.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction:column;
    padding-left: 3%;
    padding-right: 3%;
}

.submit-container {
    display: flex;
    justify-content: center;
}

::placeholder { 
    color: #E4650E;
    opacity: 1;
}

.email-input:focus::placeholder, .message-input:focus::placeholder {
    opacity: 0;
}

.email-input, .message-input{
    display: flex;
    font-size: 1rem;
    margin-bottom: 3%;
    padding: 0.5rem;
    border: 1px solid white;
    background-color: #121212;
    color: #E4650E;
    outline: none;
    border-radius: 2%;
}

.email-input:focus, .message-input:focus {
    border: 1px solid #E4650E;
    transition: 300ms;  
}

.email-input {
    height: 5%;
    width: 40%;
}  
 
.message-input{
    margin-bottom: 3%;
    height: 10rem;
} 

.submit-input {
    width: 50%;
    font-weight: bold;
    padding: 0.5rem;
    color: #E4650E;
    background-color: transparent;
    border: 1px solid #E4650E;
    border-radius: 3%;
}

@media screen and (min-width: 768px) {
    .email-input {
        height: 5%;
        width: 50%;
    }  
     
    .message-input{
        margin-bottom: 3%;
        width: 40rem;
        height: 20rem;
    } 
    
    .submit-input {
        width: 50%;
    }

    .submit-input:hover {
        color: #4E4D53;
        background-color: #E4650E;
        transition: 300ms;
    }

    .submit-container {
        display: flex;
        justify-content: flex-start;
    }
}