@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0 ;
  font-family: 'Roboto', sans-serif;
  overflow:visible;
}

.sticky {
  background-color: azure;
  position: sticky;
  top: 0;
}

.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  height: 3rem;
  width: 3rem;
  border:none
}

.active {
  background-color: red;
}

img {
  height: 1.5rem;
  width: 1.5rem;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  width: 100%;
  padding: 1rem;
  margin: none  ;
  border: 1px solid black;
}

a:last-child {
  border-top: 0px;
}

a:first-child, a:nth-child(2) {
  border-bottom: 0px;
}
