.personal-contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10%;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5%;    
}
 
.picture {
    height: 3rem;
    width: 3rem;
}

.lai-size {
    width: 4.23rem;
}

.brian-size {
    width: 3.145rem;
}

.link-to-mail {
    text-decoration: none;
}
